doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='icon', type='image/png', href='favico/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favico/favicon-16x16.png', sizes='16x16')
    title Dark Ages of the Web
    meta(name='description', content='A personal webpage. Latest projects, links and experience')
    meta(name='author', content='Pavel Laptev')

    meta(property='og:title' content='Dark Ages of the Web')
    meta(property='og:image' content='https://pavellaptev.github.io/images/preview.jpg')
    meta(property='og:description' content='A personal webpage. Latest projects, links and experience')
    meta(property='og:url' content='https://pavellaptev.github.io/' )

    link(rel='stylesheet', href='styles/normalize.css')
    link(rel='stylesheet', href='styles/style.css')

    script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    
  body
    .lightbox
        img(src="")
    //- Main Slide -//
    .cursor
    .main-slide
        .main-slide__wrap
            img.baby(src="./img/DancingbabyOK.gif")
            img.head-sign(src="./img/calavera.gif")
            .main-slide__center-gif
                img.centr-img.torch-left(src="./img/torch.gif")
                img.centr-img.torch-right(src="./img/torch.gif")
                img.centr-img.girl(src="./img/AtoD1.gif")
                img.centr-img.dragon(src="./img/small-red-fire-dragon-1.gif")
                img.centr-img.earth(src="./img/earthspin.gif")
                img.centr-img.title(src="./img/dark-ages.gif")
            .main-slide__btm-gif
                img.btm-img.finger(src="./img/finger.gif")
                img.btm-img.caption(src="./img/caption.gif")
                
    .intro-slide
        .intro-slide__text
            p The year 1994 when all began and the great era when the web we know today was born. It was the time when developers and designers only learn how to do web, collect and create a web experience from scratch - before landing pages, burger menu, Z and F-Pattern, adaptive design, flat design, eCommerce, functional animation and microinteractions...

    .screens
        .screens__wrap
            h1 Popular Screen resolutions
            .screens__monitors
                .screen-wrap
                    .screen-body
                        .screen-point1
                        .screen-point2
                        .screen-monitor
                            .screen-flare
                        .screen-sizeinfo
                            span 800x600px
                    .screen-stand
                    .screen-base
                    .screen-shadow
            nav.screens__slider
                #monitor-1997.screens__slider__item
                    .screens__slider__item__date
                        span 1997
                    .screens__slider__item__btn.screens__slider__item__btn_active
                #monitor-2002.screens__slider__item
                    .screens__slider__item__date
                        span 2002
                    .screens__slider__item__btn
                #monitor-2007.screens__slider__item
                    .screens__slider__item__date
                        span 2007
                    .screens__slider__item__btn
                #monitor-2015.screens__slider__item
                    .screens__slider__item__date
                        span 2015
                    .screens__slider__item__btn
                .screens__slider__timeline

    .fs
        .fs__wrap
            img.fs__img-h1(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fz5de03bee878fa.gif")
            p Today we can use variable fonts but there was a time when we didn't have web-fonts and only few variations. Most usable were — <b>Georgia, Arial and Times New Roman</b>. But if you wanted to do something unusial and use your own fonts — that what I would call pain in the ass. `@font-face` rule was announced only with CSS3 fonts module.
            p First formats for embedded fonts were Embedded OpenType file (*.EOT) and Portable Font Resource (*.PFR). But lets talk about three most used methods. And it could seems like these methods came from 1998 but no, I find articles about these methods from 2008 and even later years.
            
            hr.fs__hr
            img.fs__img-h2(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fz5de03af5e0a56.gif")
            p On the web almost always was a text pair — One font for headers, one for body text. For headers designers often used some distinctive fonts and to do that possible developers used images. A Designer saved picture of the header text and pass it to a developer. Just pure image of the text it was the easier way to impliment a custom font. Sometimes when client wanted to change headers text by themself developers used images of cuttet alphabet and replaced header text to images — word by word.
            
            hr.fs__hr
            img.fs__img-h2(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fz5de10a78d8f31.gif")
            p a combination of JavaScript and Flash to replace parts of the text on a page with a Flash movie that represents the text. Here are links:
            a.fs__block-link(target="_blank" href="https://en.wikipedia.org/wiki/Scalable_Inman_Flash_Replacement")
                img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FsIFR-link.gif")
            a.fs__block-link(target="_blank" href="http://www.htmlandcssbook.com/extras/sifr-and-cufon/")
                img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Folder.gif")
            
            hr.fs__hr
            img.fs__img-h2(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fz5de10b13a0e07.gif")
            p There were some libraries like <a href="http://cufon.shoqolate.com/generate/">Cufon</a> and <a href="https://web.archive.org/web/20120511181540/http://typeface.neocracy.org/">Typeface.js</a> that 
            p Here is even comparison of these two libraries:
            a.fs__block-link(target="_blank" href="https://kilianvalkhof.com/2009/javascript/cufon-vs-typefacejs-which-one-is-better/")
                img.fs__img-h2(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcufon-vs-typeface.jpg")

    .tb-l
        .tb-l__wrap
            table.tb-l__table.tb-l-borders
                tr
                    th.tb-l__left
                        img.tb-l__table_logo(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcool-logo.gif?v=1575237004138")
                    th.tb-l__tag-line
                        h2 We will make your website in old-fashioned way!
                tr
                    th.tb-l__left.tb-l__menu
                        ul
                            li
                                a(href="#nothing-to-see-here") About
                            li
                                a(href="#and-here-nothing-to-see") Portfolio
                            li
                                a(href="#hello") Contacts
                    th.tb-l__content
                        p Back then before `block` layout the only way to make a layout was a table layout. It was everywhere. Using a table is a horribble idea for any layout, well, excluding of course table itself.
                        button.tb-l__btn Show/Hide table borders
                        p And it is more funny that we beat this limitation more then 10 years ago but look at your mail-box — we still using this outdated approach. Just look at the imiage below, I can call it "HTML nightmare"
                        img.tb-l__preview(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ftable-view.gif")
    
    .sm
        .sm-wrap
            .dead-ui-label(style="right: -40px; top: 30px;")
            h1.sm-wrap__header Web 2.0
            p.sm-wrap__text Around the beginning of 2007, a phenomenon such as web 2.0 began to emerge. Web 2.0 was an modern approach to the old web. New technologies, social media growth and new websites where content was createed by users and not by admins — all of this factors, creeated Web 2.0. 
            p.sm-wrap__text We use specific styles for buttons, mostly gradients, big border-radius, and glares. Designers loved to use PNG stickers on Web 2.0 when they wanted to tell about sales, offers or just show how awesome their website. And another Webb 2.0 feature is tag clouds — a tiny block with commonly used tags, and the more popular the tag, the larger it is.
            .sm-btnbox
                button.sm-btns-btn.sm-btnbox__btn.sm-btnbox__btn_active Buttons
                button.sm-stck-btn.sm-btnbox__btn Stickers
                button.sm-tags-btn.sm-btnbox__btn Tags Cloud
            .sm-box
                .sm-box__item.sm-box__btns
                    button.sm-box__btn1 
                        span Check it out
                        svg.sm-box__btn1_arrow(fill="none" viewBox="0 0 13 17")
                            path(fill="#fff" d="M.5 16.5V0l12 8.5-12 8z")
                    button.sm-box__btn2 Check it out
                    button.sm-box__btn3 Check it out
                    button.sm-box__btn4 Check it out
                    button.sm-box__btn5
                        img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Farrow.png")
                    button.sm-box__btn6
                        img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Farrow-right.png")
                    button.sm-box__btn7 Check it out
                    button.sm-box__btn8 Check it out
                    button.sm-box__btn9
                        img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhome-icon.png")
                    button.sm-box__btn10 Check it out
                    button.sm-box__btn11
                        img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fplus.png")
                    button.sm-box__btn11
                        img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fminus.png")
                .sm-box__item.sm-stickers.sm-box-itemhide
                    img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fstickers-img.png")
                .sm-box__item.sm-tagscloud.sm-box-itemhide
                    img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ftag-cloud-3.jpg")
                    img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ftag-cloud-2.jpg")
                    img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ftag-cloud-1.jpg")
                    img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ftag-cloud-4.jpg")

    .fl
        .fl__wrap
            .fl__logo
                img.fl__logo-glitch(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fflash-ban-glitch.gif")
                img.fl__logo-normal(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fflash-ban.png")
            .fl__history__wrap
                .fl__history
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-16.png 2x")
                        span.fl__history__item__year 2016
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-14.png 2x")
                        span.fl__history__item__year 2014
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-12.png 2x")
                        span.fl__history__item__year 2012
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-10.png 2x")
                        span.fl__history__item__year 2010
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-08.png 2x")
                        span.fl__history__item__year 2008
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-07.png 2x")
                        span.fl__history__item__year 2007
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-05.png 2x")
                        span.fl__history__item__year 2005
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-02.png 2x")
                        span.fl__history__item__year 2002
                    .fl__history__item
                        img.fl__history__item__logo(srcset="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ffl-96.png 2x")
                        span.fl__history__item__year 1996
                        
            .fl__text
                p Now it’s abandoned, but a lot of websites were built on FLASH technologies.
                p Basic HTML technologies didn’t provide enough tools and methods for designers to express their ideas and FLASH which was used commonly to create an animation and interactive presentations stepped into the Web.
                p For designers who wanted to do web — FLASH websites were the breath of fresh air. Everything you can imagine was possible — from complex interactive animations to 3D.
                p The main source of inspiration was thefwa.com and it was an honor to add an FWA label on a website.
                p Sounds good, right? But what happened with FLASH then? Well, briefly it wasn’t secure, it was heavy to load, Apple effect and HTML5.
                p Unfortunately, I can’t provide any links to you, because you can’t open them, FLASH technology is deadly dead right now.
                p It’s hard to imagine right now but FLASH was a big part of the internet not so far ago — websites, games, banners and I think that more than 50% of all designers portfolio was built on FLASH.
            
            .fl__refs
                h1.fl__refs__title Refs
                .fl__refs__links
                    a.fl__refs__link(href="https://streamshark.io/blog/birth-and-death-of-flash/" target="blank") Birth and death of Flash
                    a.fl__refs__link(href="https://thehistoryoftheweb.com/the-story-of-flash/" target="blank") The story of Flash
                    a.fl__refs__link(href="https://code.tutsplus.com/articles/a-nostalgic-rummage-through-the-history-of-flash--active-6733" target="blank") A nostalgic rummage through the history of flash
        
    .hmb
        .hmb__wrap
            .hmb__hero
                .dead-ui-label(style="right: -40px; top: -30px;")
                img.hmb__hero__homegif(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhome-gif-2.gif")
                h1.hmb__hero__title Homepage</br>button
                .hmb__hero__back
            .hmb__content
                .hmb__content__gallery
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-1.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-1-pr.jpg)")
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-2.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-2-pr.jpg)")
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-3.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-3-pr.jpg)")
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-4.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-4-pr.jpg)")
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-5.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-5-pr.jpg)")
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-6.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-6-pr.jpg)")
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-7.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-7-pr.jpg)")
                    a.hmb__content__gallery__imglink(href="javascript:void(0);" data-bigimage="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-8.jpg" style="background-image: url(https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhpb-8-pr.jpg)")
                .hmb__content__text
                    p The "home" icon was born in the late 90's but "homepage" button was from the beginning. During the years this button came through different phases but it's not disappeared, just hid. One pattern — obligatory "homepage" link in the menu was transformed — now this  "homepage" link placed in a company logotype, and each website or almost every website uses this pattern.

    .site-maps
        .site-maps__wrap
            .site-maps__map
                img(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fsitemap.svg")
            .site-maps__info
                .site-maps__info__top
                    .site-maps__info__top_left
                        h3 Site Maps
                    .site-maps__info__top_right 
                        h3 R.I.P
                .site-maps__info__bottom
                    p Another thing that we don’t see know is — site map page. Like an “HomePage” button it was one of abliigatory things. Basically sitemap is the page that shows all pages on your website as a structuered list.

    .guestbook
        .guestbook__wrap
            img.guestbook__img(src="./img/sign-guestbook-animation-10.gif")
            h1 Guest Books
            p Before the comments sections, it was a page on a website where people wrote their comments. And it doesn't matter if you had a personal webpage or you were a big company it was a communication hub. Guest books were made in many different technologies, even on <a href="https://youtu.be/9uWFV3QkBW8" target="_blank">Flash</a>.

    .gf-king
        .gf-king__wrap
            .gf-king__head
                img.gf-king__head__img.gf-king__title(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcooltext344403526805552.gif")
                img.gf-king__head__img.gf-king__crown(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcrown.gif?v=1576531425369")
                img.gf-king__head__img.gf-king__new(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fnew.gif?v=1576532124724")
            .gf-king__text
                p Before ThreeJS, GASPJS, SVG, CSS animations the only way how you could express yourself in the old internet was a GIF animation. The fanciest were spinning logos.
            .gf-king__gifs
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fwindows_9x_user.gif?v=1576535359941")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2F_IMVTemp_Show_C_WINDOWSTEMPnsmail4K4.gif?v=1576535360096")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fwindows_floppy_disk_walking.gif?v=15765353602416")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fag00108_.gif?v=1576535360306")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fafcharacter.gif?v=1576535360635")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2F3demail.gif?v=1576535360646")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2F367.gif?v=1576535360660")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fbeavis.gif?v=1576535361005")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fapplespin.gif?v=1576535361038")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fangelbutterflyanim.gif?v=1576535361119")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fbonemail.gif?v=1576535361288")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fbuzon.gif?v=1576535361300")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcalavera2.gif?v=1576535361338")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fanimatedbutterflyforamyfrompattianne.gif?v=1576535361439")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Faniback.gif?v=1576535361459")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fclicker125.gif?v=1576535361508")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcatdance.gif?v=1576535361732")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcorsetbritney.gif?v=1576535362158")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fcross3d.gif?v=1576535362171")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fdesign.gif?v=1576535362323")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FCursorArrow.gif?v=1576535362419")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Femail-3d.gif?v=1576535362487")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FE-mail1.gif?v=1576535362611")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FCwindowsTEMPnsmail1E.gif?v=1576535362707")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fgallop.gif?v=1576535362721")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fgbook.gif?v=1576535362759")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FGUNDAM10.gif?v=1576535363032")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FGermany-07.gif?v=1576535363128")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FHeart_beat.gif?v=1576535363170")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhome.gif?v=1576535363311")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fhomey.gif?v=1576535363706")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fimg2.gif?v=1576535363745")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FImage_Book.gif?v=1576535363819")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Finternet.gif?v=1576535363955")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fj0286801.gif?v=1576535364038")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Flapin_email.gif?v=1576535364184")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Flogobelladesignstransparente.gif?v=1576535364460")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Flaraspinning.gif?v=1576535364533")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fmicrosoft_ie.gif?v=1576535364648")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fredbritney.gif?v=1576535364806")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FSAMURAI.gif?v=1576535365025")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fsearchanim.gif?v=1576535365160")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fsimpsons1.gif?v=1576535365299")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FSpinningLamp.gif?v=1576535365382")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Ftux-windows_throw.gif?v=1576535365528")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Funionj.gif?v=1576535365663")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fwelcome.gif?v=1576535365787")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fwinamp.gif?v=1576535365942")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fearth.gif?v=1576535366267")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2FHappyComputer.gif?v=1576535366340")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fbanner.gif?v=1576535366655")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fportalwindows.gif?v=1576535366679")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fbeavis6.gif?v=1576535367164")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fldimgprf.gif?v=1576535367248")
                img.gf-king__gifs__item(src="https://cdn.glitch.com/78a63c0e-9d0d-41d5-84ad-1c4a47e813e0%2Fwelcometo.gif?v=1576535367478")
            .gf-king__text
                p More cool images you can grad here on <a href="https://gifcities.org" target="_blank">gifcities.org</a>

    .btg
        .btg__wrap
            h1 Make Your Button
            .btg__content
                .btg__stngs
                    .btg__stngs__radio
                        input(type="radio" checked name="flares" id="flare-none")
                        label(for="flare-none") None
                    .btg__stngs__radio
                        input(type="radio" name="flares" id="flare")
                        label(for="flare") Flare
                    .btg__stngs__radio
                        input(type="radio" name="flares" id="flare2")
                        label(for="flare2") Flare 2
                    .btg__stngs__radio
                        input(type="radio" name="flares" id="flare3")
                        label(for="flare3") Flare 3
                        
                    hr.btg__hr
                    .btg__stngs__checkbox
                        input(type="checkbox" name="inn-glow" id="inn-glow")
                        label(for="inn-glow") Inner glow
                    
                    hr.btg__hr
                    .btg__stngs__checkbox__inline
                        .btg__stngs__checkbox
                            input(type="radio" checked name="btn-volume" id="btn-volume-none")
                            label(for="btn-volume-none") None
                        .btg__stngs__checkbox
                            input(type="radio" name="btn-volume" id="btn-volume")
                            label(for="btn-volume") Volume
                        .btg__stngs__checkbox
                            input(type="radio" name="btn-volume" id="btn-invert-vol")
                            label(for="btn-invert-vol") Invert Volume
                    hr.btg__hr
                    .btg__stngs__color
                        input(type="color" id="clr-picker" name="clr-picker"
            value="#2400FF")
                        label(for="head") Color
                            
                .btg__btn-view
                    button.btg__btn
                        span Hello!

    .end-slide
        .end-slide__wrap
            h2 To be continued?
            p Let me know if you have more recalls from the past Web in <a target="_blank" href="https://github.com/PavelLaptev/web-dark-ages/issues/1">Issues</a> or make your own sections with Pull requests.
            p Author: 
                a(href="https://pavellaptev.github.io/") Pavel Laptev
    //- .test-slide
    //- Global site tag (gtag.js) - Google Analytics
    script(src="./js/main.js")